@import 'mixins';

.button {
  height: 40px;
  @include border_radius;
  background-color: $orange;
  color: $white;
  text-align: center;
  line-height: 40px;
  display: block;
}

.button_all {
  width: 132px;
}

.button_all:hover {
  cursor: pointer;
}

.button_edit {}

.button_delete {}

.button_book {
  width: 366px;
}

.quantity {}