// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';

.banner {
  width: 1360px;
  height: 340px;
  margin: 24px -40px;
}

.batch {
  .category_menubar {
    display: flex;
  }
  @include separator;

  .companies,
  .batch_block {
    margin-top: 32px;

    .batch_block_title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .batch_block_cards {
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .button_all {
    margin: 16px auto 0;
  }
}
