$black: #111;
$orange: #F9901C;
$grey: #E5E5E5;
$dark_grey: #828282;
$white: #fff;
@mixin separator {
  .separator {
    position: absolute;
    width: 100vw;
    margin: 0;
    left: 0;
    display: block;
    border-top: 1px solid $grey;
  }
}

@mixin rectangle {
  .rectangle {
    width: 400px;
    height: 380px;
    color: $white;
  }
}


@mixin border_radius {
  border-radius: 6px;
}
@mixin banner {
  width: 1360px;
  height: 340px;
}
@mixin fire_icon {
  span {
    margin-right: 12px;
    margin-left: 16px;
    width: 28px;
    height: 32px;
    background-image: url("fire_icon.png");
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@mixin dashed_border {
  border: 2px dashed $dark_grey;
}
@mixin card_img($min-height, $max-height) {
  img {
    min-height: $min-height;
    max-height: $max-height;
    width: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }
}
