// .product-pic img {
//   width: 100px;
//   height: 50px;
// }
@import 'mixins';

.title {
  margin-bottom: 16px;
  width: 100vw;

  .background {
    background-color: $white;
    left: 0;
    height: 104px;
    width: 100vw;
    position: absolute;
    z-index: 0;
  }

  h1 {
    margin: 16px 0;
    position: relative;
  }
}

.product_form {
  margin: 64px auto;
  width: 600px;
  justify-content: center;
  height: 732px;
  background-color: $white;

  .new_product {
    @include dashed_border;
    background-color: #F6F6F6;
    width: 552px;
    height: 312px;
    margin: 48px auto 0;

    .bread_form {
      margin: 128px auto;
    }
  }

  .title_input {
    display: block;
    border: none;
    width: auto;
  }

  h2 {
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
    color: $dark_grey;
  }

  hr.separator {
    width: 584px;
    position: relative;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .measure {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .measure_input {
    .input {
      margin-top: 8px;
      margin-right: 24px;
      border: 1px solid $grey;
      width: 108px;
    }
  }

  .measure_inputs {
    margin-top: 32px;
    margin-left: 24px;
    display: flex;
  }

  .buttons {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
  }
}

.file_field {
  position: absolute;
  cursor: pointer;
  width: inherit;
  height: inherit;
  opacity: 0;
}

.products_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .new_product {
    width: 372px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include dashed_border;

    h3 {
      margin-top: 24px;
      color: $dark_grey;
    }
  }

  .batch_product_card {
    width: 400px;
    height: 380px;
    border: 1px solid $grey;
    @include border_radius;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    .cover {
      flex: 1 0 auto;
      background-color: $orange;
      @include card_img(130px, 184px)
    }

    .batch_product_card_info {
      flex: 0 1 auto;
      width: 400px;
      min-height: 180px;
      background-color: $white;
      display: flex;
      flex-direction: row;

      .details {
        width: 368px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        h3,
        h4 {
          margin-top: 12px;
          width: 368px;
        }

        p {
          margin-top: 4px;
          width: 192px;
        }

        .buttons,
        .quantity {
          width: 368px;
          display: flex;
          justify-content: space-between;
        }

        .quantity {
          align-items: center;
        }

        .buttons {
          .button {
            margin: 16px 0;
          }
        }
      }
    }
  }
}

.product_card {
  width: 400px;
  height: 380px;
  border: 1px solid $grey;
  @include border_radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-right: 40px;

  .cover {
    width: inherit;
    flex: 1 0 auto;
    @include card_img(169px, 200px)
  }


  .product_card_info {
    flex: 0 1 auto;
    width: 400px;
    min-height: 180px;
    background-color: $white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .details {
      margin-left: 16px;
      margin-right: 16px;

      h3,
      h4 {
        margin-top: 12px;
      }

      p {
        margin-top: 6px;
      }

      .button_book {
        margin: 16px auto;
      }
    }
  }
}
